#header{
background:#009688

}
#header h1{
color:red
}
div.breadcrumbs{
background:#2f5567
}
.module h2, .module caption, .inline-group h2 {
background:#2f5567
}
.button, input[type=submit], input[type=button], .submit-row input, a.button{
background:#2f5567
}

.button.default, input[type=submit].default, .submit-row input.default{
background:#2f5567
}